---
name: Release (workflow call)
on:
  workflow_call:
    inputs:
      version:
        description: Version
        required: true
        type: string
      pr:
        description: Pull Request Number
        required: false
        type: string
      is_comment:
        description: If the comment is posted
        required: false
        default: false
        type: boolean
jobs:
  create-pr-branch:
    timeout-minutes: 20
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - run: gh pr checkout "$PR"
        if: inputs.pr != ''
        env:
          GITHUB_TOKEN: ${{github.token}}
          PR: ${{inputs.pr}}
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.56.5
      - run: npm ci
        working-directory: js
      - run: npm run build
        working-directory: js

      - uses: ./js
        with:
          version: ${{inputs.version}}
          pr: ${{inputs.pr}}
          is_comment: ${{inputs.is_comment}}
        env:
          AQUA_CONFIG: ${{github.workspace}}/aqua/aqua.yaml
          GH_COMMENT_CONFIG: ${{github.workspace}}/github-comment.yaml
